{% macro show_line(line,fNew = true) %}

    {% if line | length > 0 %}
        {{ line | raw }}{% if fNew == true %}<br>{% endif %}
    {% endif %}

{% endmacro %}

<h6 class="card-title">
    <img src="{{ asset('/ico/pencil-square.svg') }}" alt="edit"  class="button-edits"
         data-url="{{ url('editAdr', {id: adresse.id}) }}"
         onclick="cEdit(this)">
    <img src="{{ asset('/ico/trash.svg') }}" alt="del" class="button-edits"
         data-url="{{ url('delAdr', { id: adresse.id }) }}"
         onclick="cDel(this)">
    {% if adresse.label %}
        {{ adresse.label }}
    {% else %}
        {{ adresse.nom }}
    {% endif %}
</h6>

<div class="card-text">
{{ _self.show_line(adresse.adresse1) }}
{{ _self.show_line(adresse.adresse2) }}
{{ _self.show_line(adresse.codePostal, false) }} {{ _self.show_line(adresse.ville) }}
{{ _self.show_line(adresse.pays) }}
</div>
<div class="card-text">&nbsp;</div>

