{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('client') }}
{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    {{ encore_entry_script_tags('client') }}
{% endblock %}

{% block title %}Index des clients{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}
    {% import "macros/textAjax.html.twig" as ajax %}

    <div class="row">

        <div class="col">
            <form method="post">
                <div class="form-group">
                    {{ ajax.text('', 'recherche', path('ajax_search_clients'), term, currentPage) }}
                </div>
            </form>
        </div>
    </div>

    <div id="render_list">
    </div>

     {{ ajax.script(path('ajax_search_clients'), "'" ~ term ~ "'", currentPage) }}

{% endblock %}
