{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('client') }}
{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    {{ encore_entry_script_tags('client') }}
{% endblock %}

{% block title %}Index des clients{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

    <div class="row">

        <div class="col">
            <form method="post">
                <div class="form-group">
                    <script>
                        $(function () {
                            $("#id_1").autocomplete({
                                source: function (request) {
                                    $.ajax({
                                        type: "POST",
                                        url: '{{ path('ajax_search_clients') }}',
                                        data: {term: request.term, pageNb:{{ currentPage }} },
                                        success: function(data) {
                                            $('#render_list').html(data)
                                        },
                                        datatype: 'html',
                                        delay: 0
                                    });
                                },
                                minLength: 0,
                                select: function (event, ui) {
                                    $("#id_1").autocomplete('search', ui['item']['value'])
                                }
                            })
                        })
                    </script>
                    <div class="ui-widget">
                        <input name="recherche" class="form-control" id="id_1" value="{{ term }}" placeholder="Texte à rechercher">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="render_list">
    </div>

    <script>
        $.ajax({
            type: "POST",
            url: '{{ path('ajax_search_clients') }}',
            data: {term: '{{ term | raw}}', pageNb:{{ currentPage }} },
            success: function(data) {
                $('#render_list').html(data)
            },
            datatype: 'html',
            delay: 0
        });
    </script>

{% endblock %}
