<h6 class="card-title">
    <img src="{{ asset('/ico/check.svg') }}" alt="save"
         data-url="{{ url('saveMail', {id: mail.id }) }}"
         onclick="cSave(this)">
    <img src="{{ asset('/ico/x-circle.svg') }}" alt="cancel"
         data-url="{{ url('cancelMail',{ id: mail.id  }) }}"
         onclick="cCancel(this)">
    {{ mail.nom }}
</h6>
<p class="card-text">
<form>
    <label for="nom" class="col-form-label form-control-sm">Nom</label>
    <input name="nom" id="nom" class="form-control form-control-sm" type="text" placeholder="{{ mail.id }}" value="{{ mail.nom }}">

    <label for="labelx" class="col-form-label form-control-sm">Label</label>
    <input name="label" id="labelx" class="form-control form-control-sm" type="text" placeholder="" value="{{ mail.label }}">

    <label for="email" class="col-form-label form-control-sm">Email</label>
    <input name="email" id="email" class="form-control form-control-sm" type="text" placeholder="" value="{{ mail.email }}">

    {% if client is defined %}
        <input type="hidden" name="client" value="{{ client }}">
    {% endif %}
</form>
