{% import "macros/pagination.html.twig" as pages %}

{% if nbPages > 1 %}
    <nav aria-label="NavClients">
        {{ pages.pages(nbPages, currentPage, term) }}
    </nav>
{% endif %}

<style>
    .lw {
        color: #ffffff ;
    }
    .lw:hover {
        color: #aaaaaa ;
    }
</style>


    {% for client in clients %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="alert alert-info">
                        <a href="{{ path('show_client', {id: client.id}) }}"
                           target="_blank"
                           class="" > - {{ client.fullName }} - {{ client.nom ~ ', ' ~ client.prenom }}</a>
                    </div>
                </h5>

                {% for note in client.notes %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ note.createdAt | date('d/m/Y') }}
                            </h5>
                            <p class="card-text">{{ note.text | nl2br }}</p>
                        </div>
                    </div>
                {% endfor %}

                <div class="client_fact">
                    {% for facture in client.commandes %}
                        <div class="badge badge-success text-left">
                            Date : {{ facture.createdAt | date('d/m/Y') }}<br>
                            Ref : <a href="{{ path('view_commandes',{ref: facture.id}) }}"
                               target="_blank"
                               class="lw">{{ facture.reference }}</a><br>

                            <p class="card-text">Montant : {{ facture.getPrixHT }} HT, {{ facture.getPrixTTC }} TTC</p>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    {% endfor %}
</div>


