{% import "macros/pagination.html.twig" as pages %}

{% if nbPages > 1 %}
    <nav aria-label="NavClients">
        {{ pages.pages(nbPages, currentPage, term) }}
    </nav>
{% endif %}

<style>
    .lw {
        color: #ffffff ;
    }
    .lw:hover {
        color: #aaaaaa ;
    }
</style>


<div class="accordion" id="accordion_client">

    {% for client in clients %}

        <div class="card">

            <div class="card-title c118-mb-l" id="heading_{{ client.id }}">
                <button class="btn btn-xs btn-success btn-block"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_{{ client.id }}"
                        aria-expanded="true"
                        aria-controls="collapse_{{ client.id }}">
                    &nbsp;{{ client.fullName }} <!-- - [{{ client.nom ~ ', ' ~ client.prenom }}]-->
                </button>
            </div>

            <div id="collapse_{{ client.id }}" class="collapse" aria-labelledby="heading_{{ client.id }}" data-parent="#accordion_client">

                <a class="btn btn-danger c118-btn-thick" type="button" href="{{ path('show_client',{id: client.id}) }}">Edition Client</a>
                <button class="btn btn-danger c118-btn-thick" type="button">Edition Facture</button>
                <button class="btn btn-danger c118-btn-thick" type="button">Edition Note</button>

                <div class="card-body">

                    {% for note in client.notes %}

                        <h5 class="card-title">
                            {{ note.createdAt | date('d/m/Y') }}
                        </h5>
                        <p class="card-text">{{ note.text | nl2br }}</p>

                    {% endfor %}

                    <div class="client_fact">
                        <table class="table table-bordered">
                            <tr>
                                <th>Date</th><th>Ref</th><th>Montant HT</th><th>Montant TTC</th>
                            </tr>
                            {% for facture in client.commandes %}
                                <tr>
                                    <td>{{ facture.createdAt | date('d/m/Y') }}</td>
                                    <td><a href="{{ path('view_commandes',{ref: facture.id}) }}"
                                           target="_blank">{{ facture.reference }}</a></td>
                                    <td class="text-right">{{ facture.getPrixHT | number_format(2,'.',' ') }}€</td>
                                    <td class="text-right">{{ facture.getPrixTTC | number_format(2,'.',' ') }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
