{% import "macros/pagination.html.twig" as pages %}

{% if nbPages > 1 %}
    <nav aria-label="NavClients">
        {{ pages.pages(nbPages, currentPage, term) }}
    </nav>
{% endif %}

<div class="accordion" id="accordion_client">

    <div class="zone-globale">
        <div class="card">
            <h5 class="card-title">
                <img src="{{ asset('/ico/card-list.svg') }}" alt="home" class="c118-big-btn">
                {{ include('/intranet/client/clientAdd.html.twig', { client: 0 }) }}
            </h5>
        </div>


        <div class="zone-liste-clients">
            {% for client in clients %}
                {{ include('intranet/client/render_client.html.twig', {client: client}) }}
            {% endfor %}
        </div>
    </div>
</div>

{% if nbPages > 1 %}
    <nav aria-label="NavClients">
        {{ pages.pages(nbPages, currentPage, term) }}
    </nav>
{% endif %}
