{% import "macros/pagination.html.twig" as pages %}

{% if nbPages > 1 %}
    <nav aria-label="NavClients">
        {{ pages.pages(nbPages, currentPage, term) }}
    </nav>
{% endif %}

{% set indexId = 1 %}

<div class="accordion" id="accordion_client">

    {% for client in clients %}

        <div class="card">

            <div class="card-title c118-mb-l" id="heading_{{ client.id }}">
                <button class="btn btn-xs btn-success btn-block"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_{{ client.id }}"
                        aria-expanded="true"
                        aria-controls="collapse_{{ client.id }}">
                    <span class="new-edit" id="client_{{ client.id }}">
                        <img src="{{ asset('/ico/pencil-square.svg') }}"
                             data-url="{{ url('editClient', { id: client.id }) }}"
                             data-receiver="#client_{{ client.id }}"
                             onclick="cEdit(this)">
                        <img src="{{ asset('/ico/trash.svg') }}"
                             data-receiver="#client_{{ client.id }}"
                             data-url="{{ url('delClient', { id: client.id }) }}"
                             onclick="cDel(this)">

                        {% if client.fullName | length == 0 %}
                            {{ client.nom ~ ' ' ~ client.prenom }}
                        {% else %}
                        &nbsp;   {{ client.fullName }}
                        {% endif %}
                    </span>
                </button>
            </div>

            <div id="collapse_{{ client.id }}" class="collapse" aria-labelledby="heading_{{ client.id }}" data-parent="#accordion_client">

                <div class="row">
                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-header">
                                <img src="{{ asset('/ico/house.svg') }}">
                                <img src="{{ asset('/ico/plus-circle.svg') }}"
                                     data-url="{{ url('addAdr') }}"
                                     data-client-id="{{ client.id }}"
                                     data-receiver="#adrNew_{{ indexId }}"
                                     onclick="cAdd(this)">
                            </h5>
                            <div id="addrbody" class="card-body">
                                {% for adresse in client.adresses %}
                                    {{ include('intranet/client/adrShow.html.twig', { adresse: adresse }) }}
                                {% endfor %}
                                <div class="new-edit" id="adrNew_{{ indexId }}"></div>
                                {% set indexId = indexId + 1 %}
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-header">
                                <img src="{{ asset('/ico/house.svg') }}">
                                <img src="{{ asset('/ico/plus-circle.svg') }}"
                                     data-url="{{ url('addTel') }}"
                                     data-client-id="{{ client.id }}"
                                     data-receiver="#telNew_{{ indexId }}"
                                     onclick="cAdd(this)">
                            </h5>
                            <div class="card-body">
                                {% for telephone in client.telephones %}
                                    {{ include('intranet/client/telShow.html.twig', {telephone: telephone}) }}
                                {% endfor %}
                                <div class="new-edit" id="telNew_{{ indexId }}"></div>
                                {% set indexId = indexId + 1 %}
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-header">
                                <img src="{{ asset('/ico/envelope.svg') }}">
                                <img src="{{ asset('/ico/plus-circle.svg') }}"
                                     data-url="{{ url('addMail') }}"
                                     data-client-id="{{ client.id }}"
                                     data-receiver="#mailNew_{{ indexId }}"
                                     onclick="cAdd(this)">
                            </h5>
                            <div class="card-body">
                                {% for mail in client.emails %}
                                    {{ include('intranet/client/mailShow.html.twig', {mail: mail}) }}
                                {% endfor %}
                                <div class="new-edit" id="mailNew_{{ indexId }}"></div>
                                {% set indexId = indexId + 1 %}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-header">
                                <img src="{{ asset('/ico/note.svg') }}" style="width: 20px;">
                                <img src="{{ asset('/ico/plus-circle.svg') }}"
                                     data-url="{{ url('addNote') }}"
                                     data-client-id="{{ client.id }}"
                                     data-receiver="#noteNew_{{ indexId }}"
                                     onclick="cAdd(this)">
                            </h5>
                            <div class="card-body">
                                {% for note in client.notes %}
                                    {{ include('intranet/client/noteShow.html.twig', { note: note }) }}
                                {% endfor %}
                                <div class="new-edit" id="noteNew_{{ indexId }}"></div>
                                {% set indexId = indexId + 1 %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover table-striped">
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Référence</th>
                                    <th>Prix HT</th>
                                    <th>Prix TTC</th>
                                </tr>
                                {% for facture in client.commandes %}
                                    <tr>
                                        <td>{{ facture.id }}</td>
                                        <td>{{ facture.createdAt | date('d/m/Y') }}</td>
                                        <td><a target="_blank" href="{{ path('view_commandes',{ref: facture.id}) }}">{{ facture.reference }}</a></td>
                                        <td>{{ facture.prixHT | format_currency('EUR') }}</td>
                                        <td>{{ facture.prixTTC | format_currency('EUR') }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function () {
        initEdit();
    })
</script>
