{% extends 'base.html.twig' %}

{% block title %}Index des clients{% endblock %}

{% block header %}{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}
    {% import "macros/textAjax.html.twig" as ajax %}

    <div class="container">

            <div class="alert alert-info" role="alert">

               <h1>{{ client.fullName }} - {{ client.nom ~ ', ' ~ client.prenom }}</h1>

            </div>

            <div class="row">

                <div class="col">
                    {% for adresse in client.adresses %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ adresse.nom }}</h5>
                                <p class="card-text">{{ adresse.adresse1 }}</p>
                                <p class="card-text">{{ adresse.adresse2 }}</p>
                                <p class="card-text">{{ adresse.codePostal }} {{ adresse.ville }}</p>
                                <p class="card-text">{{ adresse.pays }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col">
                    {% for telephone in client.telephones %}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">{{ telephone.nom }} / {{ telephone.label }}</p>
                                <p class="card-text"><a href="tel:{{ telephone.telephone }}">{{ telephone.telephone }}</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col">
                    {% for email in client.emails %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ email.nom }} / {{ email.label }}</p>
                            <p class="card-text"><a href="mailto:{{ email.email }}">{{ email.email }}</a></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

            {% for note in client.notes %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ note.createdAt | date('d/m/Y') }}</h5>
                        <p class="card-text">{{ note.text | nl2br }}</p>
                    </div>
                </div>
            {% endfor %}


            <div class="client_fact">
                {% for facture in client.commandes %}
                    <div class="col">
                        <div class="card">
                            <h5 class="card-title"><a href="{{ path('view_commandes',{ref: facture.id}) }}" target="_blank">{{ facture.reference }}</a></h5>
                            <p class="card-text">{{ facture.getPrixHT }} HT / {{ facture.getPrixTTC }} TTC</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}
