{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('client') }}
{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    {{ encore_entry_script_tags('client') }}
{% endblock %}

{% block title %}Index des clients{% endblock %}

{% block header %}{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}
    {% import "macros/textAjax.html.twig" as ajax %}

    <div class="alert alert-info" role="alert">
       <h4>
           <span id="client_{{ client.id }}">
               {{ include('intranet/client/clientShow.html.twig', { client: client }) }}
            </span>
       </h4>
    </div>

    <div class="row">
        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">
                    <img src="{{ asset('/ico/house.svg') }}">
                    <img src="{{ asset('/ico/plus-circle.svg') }}"
                         id="addAdr"
                         data-url="{{ url('addAdr') }}"
                         data-client-id="{{ client.id }}"
                         data-receiver="#adr_0"
                         onclick="cAdd('#addAdr')">
                </h5>
                <div id="addrbody" class="card-body">
                    {% for adresse in client.adresses %}
                        {{ include('intranet/client/adrShow.html.twig', {adresse: adresse}) }}
                    {% endfor %}
                    <div id="adr_0"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">
                    <img src="{{ asset('/ico/house.svg') }}">
                    <img src="{{ asset('/ico/plus-circle.svg') }}"
                         id="addTel"
                         data-url="{{ url('addTel') }}"
                         data-client-id="{{ client.id }}"
                         data-receiver="#tel_0"
                         onclick="cAdd('#addTel')">
                </h5>
                <div class="card-body">
                    {% for telephone in client.telephones %}
                        {{ include('intranet/client/telShow.html.twig', {telephone: telephone}) }}
                    {% endfor %}
                    <div id="tel_0"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">
                    <img src="{{ asset('/ico/envelope.svg') }}">
                    <img src="{{ asset('/ico/plus-circle.svg') }}"
                         id="addMail"
                         data-url="{{ url('addMail') }}"
                         data-client-id="{{ client.id }}"
                         data-receiver="#mail_0"
                         onclick="cAdd('#addMail')">
                </h5>
                <div class="card-body">
                    {% for mail in client.emails %}
                        {{ include('intranet/client/mailShow.html.twig', {mail: mail}) }}
                    {% endfor %}
                    <div id="mail_0"></div>
                </div>
            </div>
        </div>

    </div>

    {% for note in client.notes %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ note.createdAt | date('d/m/Y') }}</h5>
                <p class="card-text">{{ note.text | nl2br }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Référence</th>
                        <th>Prix HT</th>
                        <th>Prix TTC</th>
                    </tr>
                    {% for facture in client.commandes %}
                        <tr>
                            <td>{{ facture.id }}</td>
                            <td>{{ facture.createdAt | date('d/m/Y') }}</td>
                            <td><a href="{{ path('view_commandes',{ref: facture.id}) }}">{{ facture.reference }}</a></td>
                            <td>{{ facture.prixHT | format_currency('EUR') }}</td>
                            <td>{{ facture.prixTTC | format_currency('EUR') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
