<h6 class="card-title">
    <img src="{{ asset('/ico/check.svg') }}"
         data-url="{{ url('saveTel',{ id: telephone.id  })  }}"
         onclick="cSave(this)">
    <img src="{{ asset('/ico/x-circle.svg') }}"
         data-url="{{ url('cancelTel',{ id: telephone.id  }) }}"
         onclick="cCancel(this)">
    {{ telephone.nom }}
</h6>
<p class="card-text">
<form>
    <label for="nom" class="col-form-label form-control-sm">Nom</label>
    <input name="nom" id="nom" class="form-control form-control-sm" type="text" placeholder="" value="{{ telephone.nom }}">

    <label for="labelx" class="col-form-label form-control-sm">Label</label>
    <input name="label" id="labelx" class="form-control form-control-sm" type="text" placeholder="" value="{{ telephone.label }}">

    <label for="telephone" class="col-form-label form-control-sm">Téléphone</label>
    <input name="telephone" id="telephone" class="form-control form-control-sm" type="text" placeholder="Entrez-ici le numéro" value="{{ telephone.telephone }}">

    {% if client is defined %}
        <input type="hidden" name="client" value="{{ client }}">
    {% endif %}
</form>
