{% macro show_line(line,fNew = true) %}

    {% if line | length > 0 %}
        {{ line }}{% if fNew == true %}<br>{% endif %}
    {% endif %}

{% endmacro %}

<div class="new-edit" id="tel_{{ telephone.id }}">
    <h6 class="card-title">
        <img src="{{ asset('/ico/pencil-square.svg') }}"
             data-url="{{ url('editTel', { id: telephone.id }) }}"
             data-receiver="#tel_{{ telephone.id }}"
             onclick="cEdit(this)">
        <img src="{{ asset('/ico/trash.svg') }}"
             data-receiver="#tel_{{ telephone.id }}"
             data-url="{{ url('delTel', { id: telephone.id }) }}"
             onclick="cDel(this)">
        {% if telephone.nom == 'label' %}
            {{ telephone.label }}
        {% else %}
            {{ telephone.nom }}
        {% endif %}
    </h6>

    <div class="card-text" id="tel_{{ telephone.id }}">
        <a href="tel:{{ telephone.telephone }}">{{ telephone.telephone }}</a>
    </div>
    <div class="card-text">&nbsp;</div>
</div>
