{% extends 'base.html.twig' %}

{% block title %}Page d'accueil de Cartouche 118{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

    <div class="container">

        <h1 class="my-4">Nos services</h1>

        {# Section Marketing #}

        <div class="row">

            {% for post in postServices %}

                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">{{ post.title | raw }}</h4>
                        <div class="card-body">
                            <p class="card-text">{{ post.headline | raw }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ url('view_blog_mkt',{blogId: post.id}) }}#" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
        <!-- /.row -->

        <h1 class="my-4">Les clients parlent de nous</h1>

        <div class="row">

            {# Section portfolio #}

            {% for post in postClients %}

                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ asset(imblog ~ "/" ~ post.image) }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ post.title }}</a>
                            </h4>
                            <p class="card-text">{{ post.headline | raw }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <h1 class="my-4">Nos produits</h1>

        {# Section produits #}

        {% for  post in postProduits %}
            <div class="row">
                <div class="col-lg-6">
                    <h2>{{ post.title | raw }}</h2>
                    <div>{{ post.headline | raw }}</div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid rounded w-100" src="{{ asset(imblog ~ "/" ~ post.image) }}" alt="">
                </div>
            </div>
            <hr>
        {% endfor %}

{% endblock %}
