{% extends 'base.html.twig' %}

{% block title %}Page d'accueil :  !{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

    <div class="container">

        <h1 class="my-4">Bienvenue sur le site de Cartouche 118</h1>

        {% set mois = {
            '01' : "Janvier", '02' : "Février",  '03' : "Mars",
            '04' : "Avril",   '05' : "Mai",      '06' : "Juin",
            '07' : "Juillet", '08' : "Aout",     '09' : "Septembre",
            '10' : "Octobre", '11' : "Novembre", '12' : "Décembre"} %}

        <div class="row">
            {% for post in postPortfolio %}
                {% set tabdate = post.postedAt|date('d-m-Y') | split('-') %}
                {% set htmltext = post.content  %}

                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ asset(imblog ~ "/" ~ post.image) }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ post.title }}</a>
                            </h4>
                            <p class="card-text">{{ htmltext | raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Features Section -->
        {% for  post in postFeature %}
            <div class="row">
                <div class="col-lg-6">
                    <h2>{{ post.title }}</h2>
                    <div>{{ post.content }}</div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid rounded w-100" src="{{ asset(imblog ~ "/" ~ post.image) }}" alt="">
                </div>
            </div>
            <hr>
        {% endfor %}

{% endblock %}
