{% form_theme formContact 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main_page %}

        <div class="col-xs-12">

            <h3>Envoyez-nous un mail</h3>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="bg-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {{ form_start(formContact) }}
            {{ form_widget(formContact) }}
            {{ form_end(formContact) }}
        </div>

{% endblock %}
