{% macro script(ajaxUrl, term, pageNb) %}

        $.ajax({
            type: "POST",
            url: '{{ ajaxUrl }}',
            data: {term: {{ term | raw}}, pageNb:{{ pageNb }} },
            success: function(data) {
                $('#render_list').html(data)
            },
            datatype: 'html',
            delay: 0
        });

{% endmacro %}


{% macro text(label, fieldName, ajaxUrl, defval, pageNb) %}
    {% import _self as ajx %}
    <script>
        {% set idCount = genID('') %}

        $(function () {
            $("#id_{{ idCount }}").autocomplete({
                source: function (request) {
                    {{ ajx.script(ajaxUrl, 'request.term', pageNb) }}
                },
                minLength: 0,
                select: function (event, ui) {
                    $("#id_{{ idCount }}").autocomplete('search', ui['item']['value'])
                }
            })
        })
    </script>
    <div class="ui-widget">
        {% if label != '' %}
            <label for="id_{{ idCount }}">{{ label }}</label>
        {% endif %}
        <input name="{{ fieldName }}" id="id_{{ idCount }}" value="{{ defval }}">
    </div>

    {% set idCount = idCount + 1 %}

{% endmacro %}
