{% macro text(label, fieldName, ajaxUrl, defval, class_sup) %}
    <script>
        {% set idCount = genID('') %}

        $(function () {
            $("#id_{{ idCount }}").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        url:"{{ ajaxUrl }}",
                        data: {term:request.term,my_variable2:"variable2_data"},
                        success: response,
                        dataType: 'json',
                        delay: 0
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    $("#id_{{ idCount }}").autocomplete('search', ui['item']['value'])
                }
            })
        })
    </script>
    <div class="ui-widget">
        {% if label != '' %}
            <label for="id_{{ idCount }}">{{ label }}</label>
        {% endif %}
        <input name="{{ fieldName }}" id="id_{{ idCount }}" value="{{ defval }}">
    </div>

    {% set idCount = idCount + 1 %}

{% endmacro %}
