<!DOCTYPE html>
<html lang="fr">

    <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content=""/>
        <meta http-equiv="content-language" content="fr">
        <meta name="language" content="fr">

        <link rel="icon" type="image/x-icon" href="{{ asset("c118.ico") }}"/>

        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
            <!-- Custom styles for this template -->
            <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" />
            <!-- C118 Specific styles -->
            <link href="{{ asset('css/c118_frame.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts_head %}
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments)
                }
                gtag('js', new Date());
                gtag('config', 'UA-50183564-2');
            </script>
            <script type="text/javascript" id="cookiebanner"
                src="{{ asset("js/cookiebanner.min.js") }}"
                data-position="top"
                data-fg="#ffffff"
                data-bg="#3b5269"
                data-link="#dddddd"
                data-moreinfo="http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/que-dit-la-loi/"
                data-message="Les cookies assurent le bon fonctionnement de notre site Internet.
                                  En utilisant ce dernier, vous acceptez leur utilisation."
                data-linkmsg="En savoir plus"
                data-effect="fade"
                data-expires="{{ "now"|date_modify('+30days')|date('r') }}"
                data-zindex="1000"
                data-height="64px"
                data-font-size="22px">
            </script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.js') }}"></script>
        {% endblock %}

        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>
    <body>
        {% block body %}

            {% import 'macros/menuItem.html.twig' as Menu %}

            {% block navigation %}
                <!-- Navigation -->
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success fixed-top wmax">
                    <div class="container">
                        <a class="navbar-brand" href="{{ path('root') }}">Page d'accueil</a>
                        <button class="navbar-toggler navbar-toggler-right"
                                type="button" data-toggle="collapse"
                                data-target="#navbarResponsive"
                                aria-controls="navbarResponsive"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('root') }}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('index_contact') }}">Contact</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Portfolio
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                        <a class="dropdown-item" href="{{ path('index_intranet') }}">Accès à l'intranet</a>
                                        <a class="dropdown-item" href="{{ path('index_faq') }}">Questions fréquentes</a>
                                    </div>
                                </li>

                                {% if testDroit(app, 'ROLE_VENDEUR') %}

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Menu Vendeur
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                            <a class="dropdown-item" href="{{ path('view_clients') }}">Clients</a>
                                            <a class="dropdown-item" href="{{ path('view_commandes') }}">Commandes</a>
                                        </div>
                                    </li>

                                {% endif %}

                                {% if testDroit(app, 'ROLE_PUB') %}

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Menu Publications
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                            <a class="dropdown-item" href="{{ path('blog_admin_index') }}">Admin de la page d'accueil</a>
                                        </div>
                                    </li>

                                {% endif %}

                                {% if testDroit(app, 'ROLE_ADMIN') %}

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Menu Admin
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                            <a class="dropdown-item" href="{{ path('importvcf') }}">Import fichier client (VCF file)</a>
                                            <a class="dropdown-item" href="{{ path('produitscsv') }}">Importer CSV produits (UTF-8)</a>
                                            <a class="dropdown-item" href="{{ path('createcommandes',{nbCommandes: 2000}) }}">Créer 2000 commandes</a>
                                        </div>
                                    </li>

                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}

            {% block header %}

                <header>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">

                            {% set index = 0 %}
                            {% for blog in carousel.blogs %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}"
                                {% if index == 0 %}
                                    class="active"
                                    {% set index = index +1 %}
                                {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% set active = ' active' %}
                            {% for blog in carousel.blogs %}
                                <div class="carousel-item{{ active }}">
                                    {% set active = '' %}
                                    <img class="d-block wmax" src="{{ asset('imblog/' ~ blog.image) }}" alt="carousel">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ blog.title | raw }}</h5>
                                        <p>{{ blog.content | raw }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </header>

            {% endblock %}

            {% block main_page %}
                <!-- Page Content -->
            {% endblock %}

            {% block footer %}
                <!-- Footer -->
                <footer class="py-5 bg-success">
                    <div class="container">
                        {% set tag = readfile(asset('.revision')) %}
                        <p class="m-0 text-center text-white">Copyright &copy; 2007-2018 Cartouche 118 - {{ tag }}</p>
                    </div>
                    <!-- /.container -->
                </footer>
            {% endblock %}

        {% endblock %}

        <!-- Bootstrap core JavaScript -->
        {% block javascripts_end %}
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

        {% endblock %}
        {% block body_end %}{% endblock %}
    </body>

</html>
