<div class="card h-100">
    <h5 class="card-header">
        <img src="{{ asset('/ico/edit.svg') }}" alt="home" class="c118-big-btn">

        <button type="button" class="btn c118-small-btn" data-toggle="modal" data-target="#staticBackdrop_notenew_{{ client.id }}">
            <img src="{{ asset('/ico/plus-circle.svg') }}" alt="edit"  class="button-edits c118-big-btn">
        </button>
    </h5>

    <div class="zone-new-edit">
        {{ include('intranet/client/note/noteForm.html.twig', {
            id: 'staticBackdrop_notenew_' ~ client.id,
            title: 'Ajouter une note',
            func: 'cSaveNew',
            noteId: 0
        }) }}
    </div>

    <div class="card-body">
        <div class="zone-old-edit"> {#| sortByField('createdAt','desc')#}
            {% for note in client.notes %}
                {{ include('intranet/client/note/noteShow.html.twig', { note: note }) }}
            {% endfor %}
        </div>
    </div>
</div>
