<div class="card h-100">
    <h5 class="card-header">
        <img src="{{ asset('/ico/facture.svg') }}" alt="home" class="c118-big-btn">
        <img src="{{ asset('/ico/plus-circle.svg') }}" alt="add" class="button-edits"
             style="width: 30px"
             data-url="{{ url('addCommande', {clientId: client.id }) }}"
             onclick="cAdd(this)">
    </h5>
    <div class="card-body">
        <div class="old-edit"> {#| sortByField('createdAt','desc')#}
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Référence</th>
                        <th>Prix HT</th>
                        <th>Prix TTC</th>
                    </tr>
                    {% for facture in client.commandes %}
                        <tr>
                            <td>{{ facture.id }}</td>
                            <td>{{ facture.createdAt | date('d/m/Y') }}</td>
                            <td><a target="_blank" href="{{ path('view_commandes',{ref: facture.id}) }}">{{ facture.reference }}</a></td>
                            <td>{{ facture.prixHT | format_currency('EUR') }}</td>
                            <td>{{ facture.prixTTC | format_currency('EUR') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
